<!-- Top Header Block Starts here -->
<section id="_top_header_slider">
  <article>
    <header>
      <nav>
        <div class="logoBlock"><div>Findcoder.io</div>
        </div>
        <div class="menuBlock"><ul>
            <li><a href="">Signup</a></li>
            <li><a href="">Login</a></li>
          </ul></div>
      </nav>
    </header>
    <footer>Slider</footer>
  </article>
</section>
<!-- Top Header Block Ends here -->